[Unit]
Description=Reachy Mini GPIO Shutdown Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/venvs/mini_daemon/lib/python3.12/site-packages/reachy_mini/daemon/app/services/gpio_shutdown/launcher.sh
Restart=on-failure
RestartSec=3s
User=pollen
WorkingDirectory=/venvs/mini_daemon/lib/python3.12/site-packages/reachy_mini/daemon/app/services/gpio_shutdown

[Install]
WantedBy=multi-user.target
