# Python
__pycache__/
*.egg-info/
src/*.egg-info/
build/*
dist/*

# Virtual environments
.venv/
venv/
ENV/
env/

# Project-specific
src/reachy_mini_dashboard/installed_apps/*
examples/debug/measures/*
