name: Build HF PR Documentation

on:
  pull_request:
    #branches:
    #  - main
    #paths:
    #  - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_pr_documentation.yml@main
    with:
      repo_owner: pollen-robotics
      commit_sha: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.event.number }}
      package: reachy_mini

  upload:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          repository: "huggingface/doc-builder"
          path: doc-builder

      - name: Setup environment
        shell: bash
        run: |
          pip install black
          cd doc-builder
          pip install .
          cd ..

      - name: "Download artifact"
        uses: actions/download-artifact@v4
        with:
          name: doc-build-artifact
          path: ${{ github.workspace }}/build_dir
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.run_id }}

      - name: Display structure of downloaded files
        run: ls -l build_dir

      - name: Get commit_sha & pr_number
        id: github-context
        run: |
          content_commit_sha=$(cat ./build_dir/commit_sha)
          if [[ $content_commit_sha =~ ^[0-9a-zA-Z]{40}$ ]]; then
            echo "commit_sha=$content_commit_sha" >> $GITHUB_OUTPUT
            rm -rf ./build_dir/commit_sha
          else
            echo "Encountered an invalid commit_sha"
            exit 1
          fi

          content_pr_number=$(cat ./build_dir/pr_number)
          if [[ $content_pr_number =~ ^[0-9]+$ ]]; then
            echo "pr_number=$content_pr_number" >> $GITHUB_OUTPUT
            rm -rf ./build_dir/pr_number
          else
            echo "Encountered an invalid pr_number"
            exit 1
          fi

      - name: Push to repositories
        shell: bash
        run: |
          cd build_dir
          doc-builder push reachy_mini --doc_build_repo_id "hf-doc-build/doc-build-dev" --token "${{ secrets.HF_DOC_BUILD_PUSH }}" --commit_msg "Updated with commit ${{ steps.github-context.outputs.commit_sha }} See: https://github.com/pollen-robotics/reachy_mini/commit/${{ steps.github-context.outputs.commit_sha }}"

      - name: Find doc comment
        uses: peter-evans/find-comment@v2
        id: find_comment
        with:
          issue-number: ${{ steps.github-context.outputs.pr_number }}
          body-includes: docs for this PR

      - name: Add doc comment if not present
        uses: thollander/actions-comment-pull-request@v2
        if: steps.find_comment.outputs.comment-id == ''
        with:
          message: "The docs for this PR live [here](https://moon-ci-docs.huggingface.co/docs/reachy_mini/pr_${{ steps.github-context.outputs.pr_number }}). All of your documentation changes will be reflected on that endpoint. The docs are available until 30 days after the last update."
          pr_number: ${{ steps.github-context.outputs.pr_number }}
          GITHUB_TOKEN: ${{ secrets.COMMENT_BOT_TOKEN }}
