name: Documentation
on: [ push, pull_request ]
jobs:
  ai_doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip          
          pip install pydoc-markdown
      - name: Generate documentation and examples
        run: |
          pydoc-markdown -I src -p reachy_mini --render-toc > doc.md
          cat README.md doc.md > docs/doc_reachy_mini_full.md
          echo -e "\n# Examples\n" >> docs/doc_reachy_mini_full.md
          for f in $(find examples -type f -name '*.py' | sort); do
            echo -e "\n## $(basename "$f")\n" >> docs/doc_reachy_mini_full.md
            cat "$f" >> docs/doc_reachy_mini_full.md
          done
      - name: Install GitHub CLI
        run: sudo apt-get update && sudo apt-get install -y gh
      - name: Authenticate GitHub CLI
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: echo "$GH_TOKEN" | gh auth login --with-token
      - name: Upload doc_reachy_mini_full.md to Gist
        run: |
          gh gist edit 919e1d7468fb16e70dbe984bdc277bba docs/doc_reachy_mini_full.md --desc "Reachy Mini documentation and examples"
